[Unit]
Description=Evaluate the LeapVPN private subscription refresh schedule every five minutes

[Timer]
OnCalendar=*-*-* *:01/5:00
RandomizedDelaySec=20s
AccuracySec=15s
Persistent=true
Unit=private-subscription-refresh@leapvpn.service

[Install]
WantedBy=timers.target
