[Unit]
Description=Evaluate the MonoCloud private subscription refresh schedule every five minutes

[Timer]
OnCalendar=*-*-* *:02/5:00
RandomizedDelaySec=20s
AccuracySec=15s
Persistent=true
Unit=private-subscription-refresh@monocloud.service

[Install]
WantedBy=timers.target
